<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>T-S</title>
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width,initial scale=1.0" >
    </head>
        <body>
        <Section class="headSection">
               
            <div class="centre"> 
                    <span> <h1> TIME SHEET</h1></span>
            </div>
            <span class="buttons">
                <button class="login" action="/login"  onclick="redirect()">Login</button>
                <button class="register" action='/register' onclick=" redirectRegister()">Register</button> 
            </span>
        </Section>

        <Section class="headSection1">
               
            <div class="centre"> 
                    <span> <h1> TIME SHEET</h1></span>
            </div>
        </Section>  
        <script src ="js/webIndex.js" charset = "utf-8">  </script>
        </body>
    
</html>